@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {

    /* Colors */
    --normal: #212529;
    --primary: #209cee;
    --success: #92cc41;
    --warning: #f7d51d;
    --error: #e76e55;
    --disabled: #d3d3d3;
    --push: #A5A2A2;

    /* Fonts */
    --font: 'Press Start 2P', cursive;

    /* Margins */
    --margin__primary: 
    -4px 0 0 0 #209cee,
    4px 0 0 0 #209cee,
    0 -4px 0 0 #209cee,
    0 4px 0 0 #209cee;

    --margin__success: 
    -4px 0 0 0 #92cc41,
    4px 0 0 0 #92cc41,
    0 -4px 0 0 #92cc41,
    0 4px 0 0 #92cc41;

    --margin__error: 
    -4px 0 0 0 #e76e55,
    4px 0 0 0 #e76e55,
    0 -4px 0 0 #e76e55,
    0 4px 0 0 #e76e55;
    
    --margin__warning: 
    -4px 0 0 0 #f7d51d,
    4px 0 0 0 #f7d51d,
    0 -4px 0 0 #f7d51d,
    0 4px 0 0 #f7d51d;
    
    --margin__push: 
    -4px 0 0 0 #A5A2A2,
    4px 0 0 0 #A5A2A2,
    0 -4px 0 0 #A5A2A2,
    0 4px 0 0 #A5A2A2;

    --margin__normal: 
    -4px 0 0 0 #212529,
    4px 0 0 0 #212529,
    0 -4px 0 0 #212529,
    0 4px 0 0 #212529;

    --margin__disabled: 
    -4px 0 0 0 #d3d3d3,
    4px 0 0 0 #d3d3d3,
    0 -4px 0 0 #d3d3d3,
    0 4px 0 0 #d3d3d3;

    --margin__offer:
    0px 0px 16px 8px #f7d51d;

    --margin__product:
    0px 0px 16px 8px #209cee;
}

html {
    font-size: 16px;
    color: var(--normal);
    
    
}

.body {
    width: 95%;
    margin: auto;
    font-family: var(--font);
    color: var(--normal);
}

.btn {
    box-shadow: var(--margin__normal);
    font-size: 1rem;
    font-family: var(--font);
    padding: 0.5rem 0rem;
    color: var(--normal);
    margin: 1rem;
}

.btn:hover {
    filter: brightness(110%);

}

.btn:active {
    border-style: inset;
    filter: brightness(90%);

}

.error-box {
    background-color: var(--error);
    color: #212529;
    border: 4px outset var(--error);
}

.success-box {
    background-color: var(--success);
    color: #212529;
    border: 4px outset var(--success);
}

.warning-box {
    background-color: var(--warning);
    color: var(--normal);
    border: 4px outset var(--warning);
}

.form {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 2rem;
    margin: auto;
}

.form--input {
    background-color: var(--disabled);
    box-shadow: var(--margin__normal);
    width: 100%;
    height: 2rem;
    margin: auto;
    padding: 4px;
    font-family: var(--font);
}

.form--input:focus, form--input:hover {
    filter: brightness(150%);
}


